@charset "UTF-8";
/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body { font-size: 12px;background-color: #f5f5f5; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color:#999;text-decoration: none; }
a:hover { text-decoration:none;color:#ff0036; }
b { font-weight: normal; }
i { font-style: normal; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
input, button { outline: none; }
/*clearfix*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*icon*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.icon-phone:before {
    content: '\e958';
}
.icon-cart:before {
    content: '\e93a';
}
.icon-list:before {
    content: '\e9bb';
}
.icon-gift:before {
    content: '\e99f';
}
.icon-share:before {
    content: '\ea82';
}
.icon-star:before {
    content: '\1f300';
}
.icon-location:before {
    content: '\e947';
}
.icon-up:before {
    content: '\ea41';
}
.icon-down:before {
    content: '\ea43';
}
.icon-success:before {
    content: '\ea10';
}
.icon-error:before {
    content: '\ea0f';
}

.mao_red {
    color: #FF0036 !important;
}
.mr_l {
    margin-left: 10px;
}
.mr_t {
    margin-top: 10px;
}
.mr_r {
    margin-right: 10px;
}
.f_l {
    float: left;
}
.f_r {
    float: right;
}
.mao_top {
    width: 100%;
    height: 32px;
    background-color: #f2f2f2;
    color: #999;
    line-height: 32px;
}
.mao_contain {
     width: 1230px;
     margin: 0 auto;
 }

.mao_top a:hover {
    color: #FF0036;
}
.mao_top .top_left {
    float: left;
}
.mao_top .top_left a {
    margin-left: 15px ;
}
.mao_top .top_right {
    float: right;
}
.mao_top .top_right li {
    float: left;
    margin-left: 15px;
}
.top_right li a.bg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 3px;
    text-align: center;
}
.top_right li a.bg:hover {
    background-color: #fff;
}
/*logo和搜索栏*/
header {
    height: 130px;
    background-color: #fff;
}
header .mao_contain {
    position: relative;
    padding: 1px;
}
header .logo {
    position: absolute;
    left: -50px;
    top: 0;
}
header .search {
    width: 632px;
    margin: 40px auto;
}
header .search input {
    float: left;
    width: calc(500px - 14px);
    height: calc(40px - 14px);
    font-size: 16px;
    border: 2px solid #FF0036;
    padding: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
header .search button {
    float: right;
    width: 132px;
    height: 40px;
    cursor: pointer;
    background-color: #ff0036;
    color: #fff;
    font-size: 20px;
    border: none;
}
.search .hotWord {
    float: left;
    font-size: 14px;
}
.search .hotWord li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #ccc;
    margin-top: 5px;
}
.search .hotWord li:first-child {
    padding-left: 0;
}
.search .hotWord li:last-child {
    padding-right: 0;
    border-right: none;
}

.hotWord li a:hover {
    text-decoration: none;
}
/*底部*/
footer {
    margin-top: 40px;
    background-color: #fff;
}
footer .mao_ensure {
    width: 1190px;
    height: 100px;
    margin: 25px auto;
    background: url(../images/ensure.jpg) no-repeat;
}
footer .mao_ensure a {
    float: left;
    width: 297px;
    height: 100px;
}
footer .mao_desc {
    width: 1190px;
    height: 190px;
    margin: 0 auto;
    padding-top: 22px;
    border-top: 1px solid #ccc;
}
footer .mao_desc dl {
    float: left;
    margin-left: 52px;
    width: 186px;
}
.mao_desc dl dt {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #646464;
}
.mao_desc dl dd {
    width: 100%;
}
.mao_desc dd a {
    display: block;
    width: 100px;
    text-decoration: none;
    line-height: 20px;
}
footer .mao_copyright {
    background-color: #000;
}
footer .copyright_contain {
    width: 1190px;
    margin: 0 auto;
    color: #999;
    overflow: hidden;
}
.footer_info a, .footer-otherlink a {
    color: #fff;
}

.footer_info a {
    margin-right: 5px;
}
.footer-otherlink {
    color: #fff;
    margin-top: 20px;
}
.footer_copyright a, .footer_copyright span {
    margin-right: 65px;
}
.footer_copyright b, .footer_copyright i {
    display: block;
    margin-top: 5px;
}
.footer_copyright i {
    color: #686868;
}
.footer_copyright p a {
    margin-right: 10px;
}
